
#instructions button {
  float: right;
}

div#header {
  padding: 40px 0;
  background-color: pink;
}

div#instructions-list {
  display: none;
  min-height: 200px;
  background-color: pink;
  z-index: 2;
}

h1#game-title {
  font-size: 60px;
}

div#game {
  display: none;
  z-index: 1;
}

#player-score-row {
  margin: 10px 0;
}

.current-player {
  background: #5bc0de;
  border-radius: 80px;
  padding: 20px 0;
}

span.player-score {
  font-size: 60px;
}

#die-roll-row {
  margin: 30px 0;
  padding: 30px 0;
  background-color: pink;
}

.btn {
    width: 200px;
    padding: 15px;
}

#winner {
  display: none;
  height: 500px;
  width: 500px;
  padding: 200px 0;
  margin: 3% auto;
  background-color: pink;
}
